<h1 class="mt-5 text-danger text-center">Stupid Coaching</h1>
    <form action="/answer" method="get" data-turbo="false" class="mt-8 p-3 bg-danger text-white rounded-lg shadow-lg" style="background: linear-gradient(to right, #ff0000, #fffff0);">
      <input type="text" name="question" class="form-control mb-2" placeholder="Your question...">
      <input type="submit" value="Ask!" class="btn btn-light">
    </form>
